<h3>Sorry, but the download link has expired</h3>

<br>
<p>The download link has expired. You may want to start over to re-generate the pdf files. Let us know if you have any comments to us. </p>

<%= link_to "Give feedback now", feedback_path, :target => "blank", :class => "btn btn-large" %>

<br><br>