<h3>Sorry, but something went wrong</h3>

<br>
<p>It seemed that something went wrong during the document processing step and the processed file failed to be generated.</p>

<p> Please send a feedback by clicking the button below to provide your email address and description of what happened so that we can get back to you when this problem is fixed. </p>

<%= link_to "Give feedback now", feedback_path, :target => "blank", :class => "btn btn-large" %>

<br><br>