<h3>Sorry, but something went wrong</h3>

<br>
<p>It seemed that something went wrong during the document processing step and the processed file failed to be generated.</p>
<p>In many cases, it is due to the permission of the PDF documents. Please make sure the PDFs you are working with are not encrypted. If the documents are encrypted and you want to unlock them, you may try the website <%= link_to "www.unlock-pdf.com", "http://www.unlock-pdf.com", target: "blank" %>. </p>

<p> You can send us a feedback by clicking the button below to provide your email address and description of what happened so that we can get back to you when this problem is fixed. </p>

<%= link_to "Give feedback now", feedback_path, :target => "blank", :class => "btn btn-large" %>

<br><br>