<h3>Thank you for using pdfPi</h3>
<p> The split file is available from the link below: </p>

<div class="well">
	<div>
		<%= link_to download_link_prefix + @download_link, "/" + @download_link, :target => 'blank' %>
	</div>
	<div> </div>
</div>

<br>

<p><span class="label label-important">Important</span> Please do NOT refresh this page or click the Back button of the browser before taking down the link. Otherwise, the link to download the split file will be lost. </p>

<div class="container">
	
</div>