<div class="page-header">
<h2>Frequently Asked Questions (FAQs) </h2>
</div>
<h4>During combination, why the order of files are not according to my uploading sequence?</h4>

<div>You can always drag the handle [ <span class="glyphicon glyphicon-move"></span> ] in front of the uploaded files to re-arrange the orders for combining. Please let us know if this doesn't work. </div>
<hr>
<h4>Doubts not cleared yet?</h4>
<p>Please let us know by writing us a feedback if you didn't find the answers to your questions. </p>

<%= link_to "Contact us", feedback_path, :class => "btn btn-default btn-large" %>
