<h1>Frequently Asked Questions (FAQs) </h1>

<h2>During combination, why the order of files are not according to my uploading sequence?</h2>

<div>To fix this, you can always drag the handle [ drag ] in front of the uploaded files to re-arrange the orders for combining. Please let us know if this doesn't work. </div>