
  <div class="hero-unit">
    <h1>Welcome to pdfPi!</h1>
		<br>
    <p>Here you can combine (merge) and split PDF documents, for free. It's all clean: no watermarks, no embeded logo/url links. Get start now! </p>
    <p> <%= link_to "Combine PDFs >>", combine_url, :class => "btn btn-large btn-block btn-primary" %>
    	 <%= link_to "Split PDF >>", split_url, :class => "btn btn-large btn-block btn-primary" %>
    	</p>
  </div>	
