<div class="well">
<h2>Welcome to pdfPi!</h2>
<br>
  <p>Combine, split or stamp your PDF documents online for free. No installation of any plugin is required. No registration is required. Large file size limit. Click one of the boxes below to get started! </p>
</div>
<ul class="select_grid">
	
	<li><%= link_to combine_url do %> 
			<div class="header">
				Combine
			</div>
			<div class="content">
				<p> Combine or merge multiple PDF files into one PDF file, with each individual file up to <%= max_file_size_combine %> MB and up to 10 files at a time. Drag & drop to upload and reorder before combining. </p>
			</div>
			<% end %>
	</li>
	<li><%= link_to split_url do %> 
				<div class="header"> Split </div>
				<div class="content">
					<p> Split one large PDF into multiple files, up to 10 splits, with upload size up to 100 MB. </p> 
				</div>
			<% end %>
	</li>
	<li><%= link_to stamp_url do %> 
			<div class="header">
				Stamp
			</div>
			<div class="content">
				<p> Give your PDF documents a text stamp/watermark on every page, without installing any plugin. It's clean and neat, exactly as what you expected.</p>
			</div>
			<% end %>
	</li>
</ul>

<div style="clear:left">
</div>