
  <div class="hero-unit">
    <h1>Welcome!</h1>
    <p>It's all about PDF! </p>
    <p> <%= link_to "Combine PDFs, N to 1 >>", "index", :class => "btn btn-primary btn-large" %>
    	</p>
    <p> <%= link_to "Split PDF, 1 to n >>", "index", :class => "btn btn-primary btn-large" %>
    	</p>
  </div>	
