<h2>Welcome to pdfPi!</h2>
<br>
  <p>Combine, split or stamp your PDF documents online for free. No installation of any plugin is required. No registration is required. Large file size limit. Click one of the buttons below to try it out! </p>

<h3>Select one of the option below </h3>
<ul class="select_grid">
	
	<li><%= link_to combine_url do %> 
			<div class="header">
				Combine
			</div>
			<div class="content">
				<p> Combine or merge multiple PDF files into one PDF file, with each individual file up to 100 MB and up to 10 files at a time. Use drag & drop to reorder before combining. </p>
			</div>
			<% end %>
	</li>
	<li><%= link_to split_url do %> 
				<div class="header"> Split </div>
				<div class="content">
					<p> Split one PDF into multiple PDF files, up to 10 splits, with upload size up to 100 MB. </p> 
				</div>
			<% end %>
	</li>
	<li><%= link_to stamp_url do %> 
			<div class="header">
				Stamp
			</div>
			<div class="content">
				<p> Give your PDF documents a text stamp/watermark on every page, without the need to download and install any software. It's clean and neat, exactly as what you expected.</p>
			</div>
			<% end %>
	</li>
</ul>

<div style="clear:left">
<h3>Why us? </h3>
<p>
	
Merge, split or stamp your PDF documents online just with a browser. There are so many reasons to choose us: absolutely free, no account creation, large file size limit, no installation, ...

</p>
<h4> Super friendly interface </h4>
<p>
pdfPi.com has the super user-friendly and clean user interface to upload your documents and combine, split or stamp them without any hassles.
</p>
<h4> Clean work, just as you wished! </h4>
<p>All processed documents are clean, which means that there won't be any planted ads in your pdf documents. You will get what exactly you expected, without anything extra. </p>

<h4> Large file size limit </h4>
<p>The file size limit is 100 MB per document. This means you can upload a 1000-page e-book for processing! </p>

<h4>Feel safe with us </h4>
<p>
In addition, you can always feel super safe with your documents, as they are deleted from the server as soon as they serve their purpose. pdfPi.com won't keep your uploaded documents. Your documents are yours. We don't claim something like whatever you uploaded to our site is ours. Nothing like that! We don't keep your documents and we don't see them.
</p>

<h3> Terms & Condition </h3>
<p>
As this service is totally free of charge, there is no warranty coming alone with it. Although we work hard to deliver what has been promised, we are not responsible for any damage of your documents. 
</p>
</div>