<h2>Welcome to pdfPi!</h2>
<br>
  <p>pdfPi is an online free utility tool for working with PDF files. With pdfPi, you can stamp, combine or merge and split your PDF documents and files, for free. It's all clean: no embeded logo/url links. Click one of the buttons below to try it a out! </p>

<h3>Select one of the option below </h3>
<ul class="select_grid">
	<li><%= link_to stamp_url do %> 
			<div class="header">
				Stamp PDF
			</div>
			<div class="content">
				<p> Give your PDF documents a text stamp on every page online, without the need to download and install any software. It's clean and neat, exactly as what you expected.</p>
			</div>
			<% end %>
	</li>
	<li><%= link_to combine_url do %> 
			<div class="header">
				Combine PDFs
			</div>
			<div class="content">
				<p> Combine or merge multiple PDF files into one PDF file, with each file up to 50 MB and up to 10 files at a time. Use drag & drop to reorder before combining. </p>
			</div>
			<% end %>
	</li>
	<li><%= link_to split_url do %> 
				<div class="header"> Split PDF </div>
				<div class="content">
					<p> Split one PDF into multiple PDF files, up to 10 splits, with upload size up to 50 MB. </p> 
				</div>
			<% end %>
	</li>
</ul>