<div class="page-header">
<h2>Why us?</h2>
</div>

<p>
If you would like to combine, split or stamp your pdf documents just by a web browser, without being annoyed by installing unknown plugins or software, you have come to the right site!
</p>
<h4> Super friendly interface </h4>
<p>
pdfPi.com has the super user-friendly and clean user interface to upload your documents and combine, split or stamp them without any hassles.
</p>
<h4> Clean work, just as you wished! </h4>
<p>All processed documents are clean, which means that there won't be any planted ads in your pdf documents. You will get what exactly you expected, without anything extra. </p>

<h4> Large upload file size </h4>
<p>You can upload up to 50 MB pdf files for processing. This means you can upload 600 pages e-books for processing! </p>

<h4> The integrity and confidentiality of your documents are of utter importance to us! </h4>
<p>
At pdfPi.com, we consider the documents you uploaded top classifieds. Nobody, except you, has the right to look into them. To protect the integrity and confidentiality, we make sure:
</p>
<ul>
<li>All uploads are automatically deleted right after they are used to deliver what you need, so that the chance they are seen by anyone else is minimum. At the same time, this also saves the server some space. ;-) </li>
<br>
<li>All processed documents will be stored on the server for 3 days from the date it was generated. After that, it will also be deleted automatically. During these 3 days, only people with the randomly generated link (which means you and people with whom you shared the link) can download the document. </li>
</ul>
