<h2>Thank you for choosing pdfPi.com!</h2>
<br>
<h3> The integrity and confidentiality of your documents are of utter importance to us! </h3>
<br>
At pdfPi.com, we consider the documents you uploaded top classifieds. Nobody, except you, has the right to look into them. To protect the integrity and confidentiality, we make sure:
<br><br>
<ul>
<li>All uploads are automatically deleted right after they are used to deliver what you need, so that the chance they are seen by anyone else is minimum. At the same time, this also saves the server some space. ;-) </li>
<br>
<li>All processed documents will be stored on the server for 3 days from the date it was generated. After that, it will also be deleted automatically. During these 3 days, only people with the randomly generated link (which means you and people with whom you shared the link) can download the document. </li>
</ul>

If you have any questions, kindly leave us a message at the feedback form at the end of each job.

<br><br><br><br><br>