/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require jquery.fileupload-ui
 *= require wcolorpicker
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

#opacity .ui-slider-range { background: #333; }
#opacity .ui-slider-handle { border-color: #333;}
#size .ui-slider-range { background: #333; }
#size .ui-slider-handle { border-color: #333;}

.bar {
    height: 18px;
    background: green;
}

.handle:hover{cursor: move;}

#nav {
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */


	
	margin-bottom: 10px;
	ul{
		list-style-type:none;
		padding:0;
		margin:0;
		li {
			float:left;
			a {
				display:block;
				width: 120px;
				padding: 15px 5px;
				color:#fff;
				text-align: center;
				font-size: 1.2em;
				text-decoration: none;
			}
			a:hover {
				background-color:#555;
			}
			.active {
				background-color:#333;
			}
		}
	}
}

.select_grid {
	list-style-type:none;
	padding:0;
	margin:0;
	li {
		float:left;
		margin: 10px;
		background-color: white;
		padding: 5px;
		border-radius: 5px;
		a {
			display:block;
			width: 200px;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(45deg,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
			background: linear-gradient(45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			
			color:#fff;
			margin: 5px;
			font-size: 1.2em;
			text-decoration: none;
			border-radius: 5px;
			border: 1px solid #e1e1e1;
			.header {
				text-align: center;
				font-size: 1.1em;
				font-weight:bold;
				margin-bottom: 5px;
				background: #f85032; /* Old browsers */
				background: -moz-linear-gradient(45deg,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
				background: linear-gradient(45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				
				padding: 10px 0px;
				border-radius: 5px 5px 0 0;
			}
			.content {
				height: 150px;
				padding: 10px;
				color: black;
			}
		}
		
		.active {
			background-color:#333;
		}
	}
	
	li:hover {
		a {
			background-color:#555;
		}
		border:solid 2px #08c;
		margin: 8px;
	}
}

#footer{
	text-align: center;
	background-color: #efefef;
	padding: 15px;
	border-top: solid 1px #ccc;
}

//-------------------------------------------------------------------------------
//   Pagination fix for will_paginate and bootstrap
//-------------------------------------------------------------------------------

.pagination {
  span.disabled {
    color: #aaa !important;
  }
  em.current {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
  }
  .previous_page {
    border-left: 1px solid #ddd;
  }
}